{% extends 'base.html' %}


{% block content %}

<footer class="footer footer-three">
    
    <div class="footer-top footer-two-top aos " data-aos="fade-up">
    <div class="container">
    <div class="row">
    <div class="col-lg-4 col-md-6">
    
    <div class="footer-widget footer-about">
    <div class="footer-logo">
    <img src="assets/img/logo-4.png" alt="logo">
    </div>
    <div class="footer-about-content">
    <p class="footer-sub-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut consequat mauris Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut consequat mauris </p>
    </div>
    <div class="footer-three-contact">
    <p><span><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="28454941446851475d5a4c4745494146064b4745">[email&#160;protected]</a></span></p>
    <p><span> +19 123-456-7890</span></p>
    </div>
    </div>
    
    </div>
    <div class="col-lg-2 col-md-6">
    
    <div class="footer-widget footer-menu">
    <h2 class="footer-title">For Mentee</h2>
    <ul>
    <li><a href="search.html">Search Mentors</a></li>
    <li><a href="login.html">Login</a></li>
    <li><a href="register.html">Register</a></li>
    <li><a href="booking.html">Booking</a></li>
    <li><a href="dashboard-mentee.html">Mentee Dashboard</a></li>
    </ul>
    </div>
    
    </div>
    <div class="col-lg-2 col-md-6">
    
    <div class="footer-widget footer-menu">
    <h2 class="footer-title">For Mentors</h2>
    <ul>
    <li><a href="appointments.html">Appointments</a></li>
    <li><a href="chat.html">Chat</a></li>
    <li><a href="login.html">Login</a></li>
    <li><a href="register.html">Register</a></li>
    <li><a href="dashboard.html">Mentor Dashboard</a></li>
    </ul>
    </div>
    
    </div>
    <div class="col-lg-4 col-md-6">
    
    <div class="subscriber-two">
    <h2 class="footer-title">News letter</h2>
    <form action="search.html">
    <div class="input-group">
    <input type="text" class="form-control" placeholder="Enter your email address">
    <a href="search.html" class="btn bg-path d-flex align-items-center">
    <i class="far fa-envelope"></i>
    </a>
    </div>
    <div class="bottom-border-two"></div>
    </form>
    </div>
    
    </div>
    </div>
    </div>
    </div>
<div class="footer-bottom ">
<div class="container">

<div class="copyright-border"></div>
<div class="copyright ">
<div class="row align-items-center">
<div class="col-md-6 ">
<div class="term-privacy">
<div class="social-icon">
<ul class="align-items-center">
<li>
<a href="javascript:void(0);">Terms</a>
</li>
<li>
<a href="javascript:void(0);">Privacy </a>
</li>
<li>
<a href="javascript:void(0);">Cookies </a>
</li>
</ul>
</div>
</div>
</div>
<div class="col-md-6 ">
<div class="copyright-text">
<p class="mb-0">&copy; 2023 Mentoring. All rights reserved.</p>
</div>
</div>
</div>
</div>

</div>
</div>

</footer>
    
{% endblock content %}
    